.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(210, 210, 210);
    min-height: 100vh;
    background-color: white;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
            color: inherit;
            text-decoration: none;
        }

        .logo {
            font-size: 20px;
            font-weight: medium;
            color: #b22222;

            .innerLogo {
                font-weight: bold;
                color: #a0003d;
            }


        }
    }

    hr {
        height: 0;
        border: 0.5px solid rgb(210, 210, 210);
    }

    .center {
        padding-left: 5px;

        .link {
            color: inherit;
            text-decoration: none;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .title {
                font-size: 11px;
                font-weight: 600;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                transition: all 200ms ease;
                font-size: 15px;
                font-weight: 600;
                color: #888;
                border-radius: 7px;

                &:hover {
                    background-color: #ffe5ef;
                    padding-left: 10px;
                }

                .icon {
                    font-size: 20px;
                    color: #44acac;
                }


            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .title {
            font-size: 11px;
            font-weight: 600;
            color: #999;
            margin-right: 10px;
        }

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #44acac;
            cursor: pointer;
            margin: 5px;

            &:nth-child(2) {
                background-color: whitesmoke;
            }

            &:nth-child(3) {
                background-color: #222;
            }
        }
    }
}